<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Django Handler" />
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\nip_project\venv\Scripts\python.exe|D:\nip_project\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
