<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <remove name="Django Handler" />
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\nip_project\venv\Scripts\python.exe|D:\nip_project\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
		<fastCgi>
            <application fullPath="D:\nip_project\venv\Scripts\python.exe" 
			arguments="D:\nip_project\nip\project\wfastcgi.py" 
			monitorChangesTo="D:\nip_project\nip\manage.py" 
			stderrMode="ReturnStdErrIn500" 
			maxInstances="4" 
			idleTimeout="300" 
			activityTimeout="30" 
			requestTimeout="90" 
			instanceMaxRequests="200" 
			signalBeforeTerminateSeconds="0" 
			xdt:Transform="InsertIfMissing"
			xdt:Locator="Match(fullPath)"
			protocol="NamedPipe" queueLength="1000" 
			flushNamedPipe="false" rapidFailsPerMinute="10">
                <environmentVariables>
					<environmentVariable name="PYTHONHOME" value="D:\nip_project\venv\Scripts" />
                    <environmentVariable name="DJANGO_SETTINGS_MODULE" value="project.settings" />
                    <environmentVariable name="PYTHONPATH" value="D:\nip_project\nip\" />
                    <environmentVariable name="WSGI_HANDLER" value="project.wsgi.application" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
</configuration>
