{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'chart/Chart.min.css' %}" />
<script src="{% static 'chart/Chart.min.js' %}"></script>
<script src="{% static 'chart/utils.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Render our chart -->
<script>
        var shifts = ['M', 'A', 'N'];
		var color = Chart.helpers.color;
		var barChartData = {
			labels: ['M', 'A', 'N'],
			datasets: [{
				label: 'متخصص',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: [4,5,6]
			}, {
				label: 'خدمات',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				borderWidth: 1,
				data: [1,2,3]
			}]
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myHorizontalBar = new Chart(ctx, {
				type: 'horizontalBar',
				data: barChartData,
				options: {
					// Elements options apply to all of the options unless overridden in a dataset
					// In this case, we are setting the border of each horizontal bar to be 2px wide
					elements: {
						rectangle: {
							borderWidth: 2,
						}
					},
					responsive: true,
					legend: {
						position: 'right',
					},
					title: {
						display: true,
						text: 'مجموع تخصص های مورد نیاز به شیفت'
					}
				}
			});

		};
</script>
<div id="container" style="width: 100%;">
		<canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="canvas"></canvas>
</div>

<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}